body{
    margin: 0;
    
    background: linear-gradient(90deg,#000000 0%, #040027 30%, #1100a7 100%);
  color:white;
  font-family: 'Open Sans', Sans-Serif;  
  font-size: 15px;
  letter-spacing: 2px;
  
  
}

.corpo{
    position: relative;
    margin-top: -15px;
}
  
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  
img{
    border-radius: 50%;
    
}

.imagem-perfil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 100px;
    margin-top: 10px;
}

.nome-perfil{
    text-align: center;
    padding: 20px;
    font-family: "Nunito", sans-serif;
    margin: 0;
    font-size: 18px;
}

.subtitle{
    text-align: center;
    font-size: 13px;
    color: #e3e3e3;
    margin-top: -5px;
    margin-bottom: 40px;
  
}



.links{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid white;
    border-width: 2px;
    border-radius: 40px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: white;
    transition: color 1s;
    
}

a:hover{
    color:#080053;
    background-color: white;

}